section .update_input {
    background-color: #fff;
    padding: 0 1.2rem
}

section .update_input span {
    display: inline-block;
    width: 20%;
    font-weight: bold;
    color: #333
}

section .update_input input[type=password] {
    width: 80%;
    border: none;
    margin-bottom: 0;
    font-size: 0.9rem
}